{{/*
Tohle je sablona, ze ktere se teprve generuje runtime konfig, podle envu
*/}}
# vim=ft:nginx
load_module modules/ndk_http_module.so;
load_module modules/ngx_http_lua_module.so;

user  nobody nogroup;
# idealne num_of_cores x 2, virtualizujeme takze to nastavime na neco normalniho:
worker_processes 4;
worker_rlimit_nofile 8192;

daemon off;
error_log stderr;

events {
    worker_connections  4096;
    use epoll;
}


http {
    default_type  application/octet-stream;

    log_format json_combined escape=json
        '{'
            '"timestamp":"$time_local",'
            '"clientip":"$remote_addr",'
            '"verb":"$request_method",'
            '"request":"$request_uri",'
            '"status": "$status",'
            '"bytes":"$body_bytes_sent",'
            '"duration_sec":"$request_time",'
            '"referrer":"$http_referer",'
            '"agent":"$http_user_agent",'
            '"x_forwarded_for":"$http_x_forwarded_for",'
            '"upstream":"$upstream_addr"'
        '}';
    access_log /dev/stdout json_combined;

    tcp_nodelay on;
    keepalive_timeout  30;
    keepalive_requests 40;
    proxy_read_timeout 60;

    include /www/nginx/doc/mime.types.default;

    gzip             on;
    gzip_min_length  1000;
    gzip_comp_level  5;
    gzip_proxied     expired no-cache no-store private auth;
    gzip_types       text/plain application/xml application/json text/css application/javascript;

    server {
        listen               {{ required "Missing PROXY_HTTP_PORT" (env "PROXY_HTTP_PORT") }};
        server_name          mapi-address-example default;
        root /www/mapi-address-example/html/;

    location ^~ /auth {
        proxy_pass {{ env "MAPY_PROXY_URL" }};
    }

    location ~* lang.*.js {
        expires 1h;
        add_header Pragma public;
        add_header Cache-Control "public";
    }
    location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
        expires 30d;
        add_header Pragma public;
        add_header Cache-Control "public";
    }


    }

    server {
        listen               {{ required "Missing PROXY_METRICS_PORT" (env "PROXY_METRICS_PORT") }};
        server_name          mapi-address-example default;
        location /metrics {
            content_by_lua '
            prometheus:collect()
            ';
        }
    }

    lua_load_resty_core off;
    lua_shared_dict prometheus_metrics 10M;
    lua_package_path "/www/nginx/modules/lua/?.lua;;";
    init_worker_by_lua '
    prometheus = require("prometheus").init("prometheus_metrics")
    metric_latency = prometheus:histogram(
        "request_duration_seconds", "HTTP request latency", {"host", "status", "endpoint"})
    ';
    log_by_lua '
    metric_latency:observe(tonumber(ngx.var.request_time), {ngx.var.server_name, ngx.var.status, ngx.var.uri})
    ';
}
