apiVersion: apps/v1
kind: Deployment
metadata:
  name: mapi-address-example
  labels:
    app: mapi-address-example
    team: mapy.vyvoj
    admin_team: admins3

spec:
  replicas: {{ env "REPLICA_COUNT" | default "1" }}
  selector:
    matchLabels:
      app: mapi-address-example
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  template:
    metadata:
      annotations:
        team: "mapy.vyvoj@firma.seznam.cz"
        timestamp: "{{ env "TIMESTAMP" }}"
        scif.cz/log-retention: {{ env "LOG_RETENTION" | default "3w" }}
        cz.mapy.metrics.scrape: "true"
        cz.mapy.metrics.port: "{{ env "PROXY_METRICS_PORT" }}"
        cz.mapy.metrics.path: "/metrics"
      labels:
        app: mapi-address-example
        team: mapy.vyvoj
        admin_team: admins3

    spec:
      containers:
      - name: mapi-address-example
        image: {{ required "Docker image" (env "DOCKER_IMAGE") }}
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: mapi-address-example
        env:
        resources:
          requests:
            cpu:    {{ env "SERVER_CPU_REQ" | default "0.25" }}
            memory: {{ env "SERVER_RAM_REQ" | default "64Mi" }}
          limits:
            cpu:    {{ env "SERVER_CPU_LIM" | default "1" }}
            memory: {{ env "SERVER_RAM_LIM" | default "128Mi" }}
        livenessProbe:
          httpGet:
            path: /
            port: {{ env "PROXY_HTTP_PORT" }}
        readinessProbe:
          httpGet:
            path: /
            port: {{ env "PROXY_HTTP_PORT" }}
          periodSeconds: 10
          failureThreshold: 360
